In [68]:
import pandas as pd
from os import path
import requests
import json

In [69]:

GDP_df = pd.read_csv(path.abspath('') + '/Data/GDP.csv')
GDP_df.head(8)

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742
5  1948-04-01  272.567
6  1948-07-01  279.196
7  1948-10-01  280.366

In [72]:
INF_df = pd.read_csv(path.abspath('') + "/Data/Inflation.csv")
refined_df = INF_df.iloc[0::3].tail(305).reset_index(drop=True)
inflation_rates_col = refined_df["inflatoin_rate"]

Employment_df = pd.read_csv(path.abspath('') + "/Data/employment.csv")
refined_employment_df = Employment_df.iloc[0::3].tail(305).reset_index(drop=True)
refined_employment_df.head()

           Date  inflatoin_rate
300  2022-01-01             7.5
301  2022-04-01             8.3
302  2022-07-01             8.5
303  2022-10-01             7.7
304  2023-01-01             6.4

In [71]:
data = GDP_df.join(inflation_rates_col)
refined_df.tail()
data.tail()

           DATE        GDP  inflatoin_rate
300  2022-01-01  24740.480             7.5
301  2022-04-01  25248.476             8.3
302  2022-07-01  25723.941             8.5
303  2022-10-01  26137.992             7.7
304  2023-01-01  26465.865             6.4